<div class="employee-list-container">
    <div class="list-header">
        <button mat-icon-button [routerLink]="['detail']">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-nav-list>
        <ng-container *ngFor="let customer of customerList">
            <mat-list-item activated=false disableRipple=true >
                <span matLine>{{customer.name}}</span>
                <button mat-icon-button (click)="deleteItem(customer)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button [routerLink]="['detail']"
                    [state]="customer">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>    
        </ng-container>
    </mat-nav-list>
</div>
