<div class="employee-list-container">
    <div class="list-header">
        <button mat-icon-button [routerLink]="['detail']">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-nav-list>
        <ng-container  *ngFor="let workorder of workOrderList">
            <mat-list-item activated=false disableRipple=true>
                <div matLine>
                    <span>{{workorder.name}}</span>
                    <span style="margin-left: .5rem;"> | {{workorder.status}}</span>    
                </div>
                <button mat-icon-button (click)="deleteItem(workorder)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button [routerLink]="['detail']" [state]="workorder" >
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-nav-list>
</div>
