.create-container {
    margin: 1rem;
    .form-create {
        display: flex;
        flex-direction: column;
    }
    .submit-btn-div {
        justify-content: end;
        display: flex;
    }
    .detail-header {
        display: inline-flex;
        align-items: center;
        margin-bottom: 16px;
        h3 {
            margin: 0;
        }
    }
}